
<div class="row p-5">
    <div class="col">
      <div class="text-center">
        <img class="photo-card" [src]="playerCard?.imgUrl">
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <h1><strong class="text-primary">{{ playerCard?.dorsal }}</strong> {{ playerCard?.nombre?.toUpperCase() }}</h1>
      <h3 class="">{{ playerCard?.posicion }}</h3>
      <h2 class="card-title text-primary pt-5"><strong>{{ playerCard?.titular }}</strong></h2>
    </div>
</div>

<div class="row bg-light">
    <div class="col p-5">
      <div class="card p-4">
        <h3 class="card-title">Datos personales</h3>
        <div class="card-body d-flex">
          <div class="col">
            <p>Lugar de nacimiento</p>
            <p class="card-text">{{ playerCard?.lugarNacimiento }}</p>
            <p>Peso</p>
            <p class="card-text">{{ playerCard?.peso }}</p>
          </div>
          <div class="col">
            <p >Fecha de nacimiento</p>
            <p class="card-text">{{ playerCard?.fechaNacimiento }}</p>
            <p >Altura</p>
            <p class="card-text">{{ playerCard?.altura }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-5">
      <div class="card p-4">
        <div class="card-body">
          <h3 class="card-title">Estadísticas</h3>
          <div class="navbar">
            <div>
              <h5>{{ playerCard?.historicoPartidos }}</h5>
              <span>Partidos jugados</span>
            </div>
            <div>
              <h5>{{ playerCard?.historicoGoles }}</h5>
            <span>Goles</span>
            </div>
            <div>
              <h5>{{ playerCard?.historicoAsistencias}}</h5>
              <span>Asistencias</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

