.card {
    border-radius: 20pt;
    border: none;
    box-shadow: 0 0 10pt 0 rgba(47, 6, 230, 0.1);

    &-title, &-text {
        font-weight: bold;
    }
}

.photo-card {
    width: 300pt;
    height: 300pt;
    border-radius: 50%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}