
<div class="row p-5">
    <div class="col">
        <div class="card photo-card">
            <div class="card-body">
              
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-3 mb-sm-0">
        <div>
            <h1>MARC ANDRE TER STEGEN</h1>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">TITULAR</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        </div>
    </div>

<div class="row bg-light">
    <div class="col p-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col p-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
</div>

