
<div class="row p-5">
    <div class="col">
      <div class="text-center">
        <img class="photo-card" [src]="playerCard?.imgUrl">
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <h1><strong class="text-primary">{{ playerCard?.dorsal }}</strong> {{ playerCard?.nombre?.toUpperCase() }}</h1>
      <h3 class="">{{ playerCard?.posicion }}</h3>
      <h2 class="card-title text-primary pt-5"><strong>{{ playerCard?.titular }}</strong></h2>
    </div>
</div>

<app-player-statistics [playerCard]="playerCard"></app-player-statistics>

