<div class="row bg-secondary p-1"></div> 
<div class="row bg-primary p-1"></div> 
<footer class=" row bg-black py-4 mt-auto">
    <img src="assets/img/footer.png" alt="footer" class="footer-image p-5">
    <div class="container px-5"></div>
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <img src="assets/img/barca.png" alt="fcbarcelona" class="barca-logo p-1 ms-3">
            <div class="col-auto"><div class="small m-0 text-white"><strong>&copy;Copyright FC Barcelona 2024</strong> Página Oficial del FC Barcelona</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
