
  
<div class="row pt-5 px-5">
  <h1>primer equipo</h1>
  <ul class="nav nav-underline pt-5 px-4">
    <li class="nav-item  me-5">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
        

<div class="row p-5">
  <h3 class="py-3">Porteros</h3>
  <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
          <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
      </div>
  </div>
   

</div>
  