
  
<div class="row pt-5 px-5">
  <h1>primer equipo</h1>
  <ul class="nav nav-underline justify-content-center pt-5 px-4">
    <li class="nav-item  me-5">
      <a class="nav-link" [routerLink]="[]"  fragment="porteros">Porteros</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" [routerLink]="[]"  fragment="defensas">Defensas</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" [routerLink]="[]" fragment="centrocampistas">Centrocampistas</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" [routerLink]="[]" fragment="delanteros">Delanteros</a>
    </li>
  </ul>
</div>


<div class="row p-5"  id="porteros">
  <h3 class="py-3">Porteros</h3>
  <ng-container *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Portero'">
      <div class="card" (click)="viewPlayer(player.id)" >
          <img [src]="player.imgUrl" class="card">
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title text-white">{{ player.nombre }}</h5>
          </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row p-5" id="defensas">
 <h3 class="py-3">Defensas</h3>
  <ng-container *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Defensa'">
      <div class="card"  (click)="viewPlayer(player.id)">
        <img [src]="player.imgUrl" class="card">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="card-title text-white">{{ player.nombre }}</h5>
        </div>
      </div>
    </div>
  </ng-container >
</div>

<div class="row p-5" id="centrocampistas">
  <h3 class="py-3">Centrocampistas</h3>
  <ng-container  *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Centrocampista'">
      <div class="card"  (click)="viewPlayer(player.id)">
        <img [src]="player.imgUrl" class="card">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="card-title text-white">{{ player.nombre }}</h5>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row p-5" id="delanteros">
  <h3 class="py-3" >Delanteros</h3>
  <ng-container *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Delantero'">
      <div class="card"  (click)="viewPlayer(player.id)">
        <img [src]="player.imgUrl" class="card">
        <div class="card-img-overlay d-flex align-items-end">
          <h5 class="card-title text-white">{{ player.nombre }}</h5>
        </div>
      </div>
    </div>
  </ng-container>
</div>


  