<div class="row border pt-5 px-5">
  <h1 class="pt-5">{{ 'primer_equipo' | translate }}</h1>
  <ul class="nav nav-underline justify-content-center pt-5 px-4">
    <li class="nav-item  me-5">
      <a class="nav-link" [routerLink]="[]"  fragment="porteros">{{ 'porteros'| translate }}</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" [routerLink]="[]"  fragment="defensas">{{ 'defensas'| translate }}</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" [routerLink]="[]" fragment="centrocampistas">{{ 'centrocampistas'| translate }}</a>
    </li>
    <li class="nav-item me-5">
      <a class="nav-link" [routerLink]="[]" fragment="delanteros">{{ 'delanteros'| translate }}</a>
    </li>
  </ul>
</div>



<div class="row bg-light p-5"  id="porteros">
  <h3 class="py-3">{{ 'porteros'| translate }}</h3>
  <ng-container *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Portero'">
      <div class="card" (click)="viewPlayer(player.id)" (mouseover)="player.showStats=true" (mouseout)="player.showStats=false">
          <img [src]="player.imgUrl" class="card">
          <div class="gradient-background p-3" [class.move]="player.showStats">
            <h3 class="card-title" >{{ player.dorsal }} {{ player.nombre }}</h3>
            <p class="card-text">{{ player.posicion | translate }}</p>
          </div>
          <div class="card-more-info" [class.show]="player.showStats">
            <div class="navbar text-center"> 
              <div>
                <h5>{{ player.partidosTemporadaActual }}</h5>
                <span>{{ 'partidos_temporada_actual' | translate }}</span>
              </div>
              <div>
                <h5>{{ player.paradasTemporadaActual }}</h5>
              <span>{{ 'paradas_temporada_actual' | translate }}</span>
              </div>
              <div>
                <h5>{{ player.porteriaCeroTemporadaActual}}</h5>
                <span>{{ 'porteria_cero_temporada_actual' | translate }}</span>
              </div>
            </div>
            <div class="text-center">
              <span class="text-info"><strong>2023-2024</strong></span>
            </div>
          </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row p-5" id="defensas">
 <h3 class="py-3">{{ 'defensas'| translate }}</h3>
  <ng-container *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Defensa'">
      <div class="card"  (click)="viewPlayer(player.id)" (mouseover)="player.showStats=true" (mouseout)="player.showStats=false">
        <img [src]="player.imgUrl" class="card">
        <div class="gradient-background p-3"  [class.move]="player.showStats">
          <h3 class="card-title">{{ player.dorsal }} {{ player.nombre }}</h3>
          <p class="card-text">{{ player.posicion | translate }}</p>
        </div>
        <div class="card-more-info" [class.show]="player.showStats">
          <div class="navbar text-center p-2"> 
            <div>
              <h5>{{ player.partidosTemporadaActual }}</h5>
              <span>{{ 'partidos_temporada_actual' | translate }}</span>
            </div>
            <div>
              <h5>{{ player.golesTemporadaActual }}</h5>
            <span>{{ 'goles_temporada_actual' | translate }}</span>
            </div>
            <div>
              <h5>{{ player.asistenciasTemporadaActual}}</h5>
              <span>{{ 'asistencias_temporada_actual' | translate }}</span>
            </div>
          </div>
          <div class="text-center">
            <span class="text-info"><strong>2023-2024</strong></span>
          </div>
        </div>
      </div>
    </div>
  </ng-container >
</div>

<div class="row p-5" id="centrocampistas">
  <h3 class="py-3">{{ 'centrocampistas'| translate }}</h3>
  <ng-container  *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Centrocampista'">
      <div class="card"  (click)="viewPlayer(player.id)"  (mouseover)="player.showStats=true" (mouseout)="player.showStats=false">
        <img [src]="player.imgUrl" class="card">
        <div class="gradient-background p-3" [class.move]="player.showStats">
          <h3 class="card-title">{{ player.dorsal }} {{ player.nombre }}</h3>
          <p class="card-text">{{ player.posicion | translate }}</p>
        </div>
        <div class="card-more-info" [class.show]="player.showStats">
          <div class="navbar text-center p-2"> 
            <div>
              <h5>{{ player.partidosTemporadaActual }}</h5>
              <span>{{ 'partidos_temporada_actual' | translate }}</span>
            </div>
            <div>
              <h5>{{ player.golesTemporadaActual }}</h5>
            <span>{{ 'goles_temporada_actual' | translate }}</span>
            </div>
            <div>
              <h5>{{ player.asistenciasTemporadaActual}}</h5>
              <span>{{ 'asistencias_temporada_actual' | translate }}</span>
            </div>
          </div>
          <div class="text-center">
            <span class="text-info"><strong>2023-2024</strong></span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row p-5" id="delanteros">
  <h3 class="py-3" >{{ 'delanteros'| translate }}</h3>
  <ng-container *ngFor="let player of playersList">
    <div class="col-sm-4" *ngIf="player.posicion === 'Delantero'">
      <div class="card"  (click)="viewPlayer(player.id)" (mouseover)="player.showStats=true" (mouseout)="player.showStats=false">
        <img [src]="player.imgUrl" class="card">
        <div class="gradient-background p-3" [class.move]="player.showStats">
          <h3 class="card-title">{{ player.dorsal }} {{ player.nombre }}</h3>
          <p class="card-text">{{ player.posicion | translate }}</p>
        </div>
        <div class="card-more-info" [class.show]="player.showStats">
          <div class="navbar text-center p-2"> 
            <div>
              <h5>{{ player.partidosTemporadaActual }}</h5>
              <span>{{ 'partidos_temporada_actual' | translate }}</span>
            </div>
            <div>
              <h5>{{ player.golesTemporadaActual }}</h5>
            <span>{{ 'goles_temporada_actual' | translate }}</span>
            </div>
            <div>
              <h5>{{ player.asistenciasTemporadaActual}}</h5>
              <span>{{ 'asistencias_temporada_actual' | translate }}</span>
            </div>
          </div>
          <div class="text-center">
            <span class="text-info"><strong>2023-2024</strong></span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>


  