.card{
    border-radius: 20pt;
}


.gradient-background {
    background: linear-gradient(to top, #1b0775, #3423f191); /* Ajusta estos colores a tu color primario */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    border-bottom-left-radius: 20pt;
    border-bottom-right-radius: 20pt;
}

.card-text, .card-title {
    color: white;
}

.nav-link, h3 {
    font-weight: bold;
}

h1{
    font-weight: bold;
    font-size: 40pt;
}





