/* You can add global styles to this file, and also import other style files */
$primary: #5205fa;
$secondary: #fc1818;
$info: rgb(247, 217, 49);

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


h1, h2, h3, h4, h5, h6, p, a, span, div, li, button{
    font-family: 'Montserrat', sans-serif;
}

select{
    border-radius: 20pt;
    border: none;
    font-size: 10pt;
}




